*{
    margin: 0;
    padding: 0;
}
table, td{
    border: 1px solid black;
}
h1{
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: lightseagreen;
}
h2{
    margin-bottom: 10px;
    margin-top: 10px;
}
h4{
    margin-bottom: 10px;
    margin-top: 10px;
}
p{
    font-size: 20px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color:lightgray;
    font-size: 18px;
}
header h1{
    text-align: center;
    background-color: lightgoldenrodyellow;
}